mixin Award
  +Section(false, "container").text-center.pb-0#award
    mixin AwardCard(img, name, title, link)
      .hoverbox
        img(src=`${CWD}assets/img/award/${img}.png` alt='' data-zanim-xs!={
          animation: "zoom-in",
          delay: 0.1
        }).rounded.img-fluid
      .overflow-hidden
        a(href=`${link}`)
          h5.fs-0.fw-bold.mt-3.mb-1(data-zanim-xs!={from: {y: 45}, delay: 0.2})!=name
      .overflow-hidden
        h6.text-700.fw-normal.text-uppercase.ls(data-zanim-xs!={from: {y: 22}, delay: 0.3})=title  
    .row.justify-content-center
      .col-lg-9.overflow-hidden
        p.fs-2.font-sans-serif.fw-normal.text-dark 
          | The theta360.guide community is 
          | fueled by great technical contributions from individual members. 
          span.text-decoration-underline.fw-bolder.ms-1 Learn more and meet others! 
          |  THETA technology experts regularly review submissions and assign 
          | Community Thanks Award badges to the best projects!
    .row.flex-center
      .w-100
      .col-lg-6.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("kutter2", "Ethernet Live Streaming", "Python, OpenCV", `${CWD}pages/kutterjson.html`)  
      .col-lg-6.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("varga2", "HDR Wireless Live Streaming", "Java, Plugin", `${CWD}pages/laszlojson.html`)    
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("hau", "Transform preview effect of Flutter into panoramic view", "Flutter, panorama package", `${CWD}pages/haojson.html`)  
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("viteri", "Swift Library for Open Spherical Camera API", "Swift", `${CWD}pages/happymangojson.html`)  
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("perret2", "gphoto2 Sewer Inspection Robot", "RTSP, gphoto2", `${CWD}pages/huguesjson.html`)  
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("lord", "CLI Tool to Publish 360 Images", "Google Places API", `${CWD}pages/peterlordjson.html`)  
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("park2", "Indoor 3D Mapping", "USB API", `${CWD}pages/dalhojson.html`) 
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("cgslab", "HDRI for VFX", "HDRI", `${CWD}pages/cgslabjson.html`)  
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("eugene", "Online tool to convert 360 images into video", "Image to Video", `${CWD}pages/eugenejson.html`)  
      .col-sm-6.col-lg-3.pt-5.pt-xl-7(data-zanim-timeline!={delay: 0.0} data-zanim-trigger='scroll')
        +AwardCard("mcbride", "Image Enhancement With Gigapixel AI", "Image Editing", `${CWD}pages/grantjson.html`)  



    .row.justify-content-center.mt-6
      .col-lg-9.overflow-hidden
